<div class="profile_container">
	<img src="{{image}}" style="border-radius: 10px; width: 120px; height: 120px; object-fit: cover; display: block; margin: 0 auto; margin-bottom: 10px;">
	<h1>{{user.firstName}}</h1>
	<span id="dateCreated" style="color: #777; text-align: center; display: block; width: 100%; font-weight: 300">Joined {{formatDate createdAt}}</span>
	<p>{{user.bio}}</p>
</div>
{{#if notes}}
	{{#each notes}}
		<div id="note">
			<h1>{{title}} <span id="date">Created {{formatDate dateCreated}} • <a href="/notes/view/{{_id}}">Link</a></span></h1>
			<hr>
			<div id="note_body">{{{body}}}</div>
		</div>
	{{/each}}
{{/if}}